node_modules/
.pnpm-store/
common/temp/
common/autoinstallers/

blog-web/node_modules/
blog-web/.astro/
blog-web/dist/
blog-web/public/pagefind/

packages/*/node_modules/
packages/*/dist/

packages/*/storybook-static/

# Rush build logs and incremental caches
**/rush-logs/
**/.rush/temp/chunked-rush-logs/
**/.rush/temp/package-deps_*.json
